run: pip install --upgrade pip

fastapi
uvicorn
pydantic
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-mistralai

chromadb
sentence-transformers
huggingface-hub

pypdf